.destination-card{
    display: flex;
    background-color:var(--lightgrey);
    border-radius: 15px;
    margin: 4vw;
}

.destination-img{
   width: 40vw; 
   border-radius: 15px 0 0 15px;
}

.info-rapper{
    width: 50vw;
    padding: 2vw;
}