*{
    box-sizing: border-box;
}

html{
    margin-inline: auto;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    
}

:root{
    --lightblue: #9CCAFF;
    --blue: #62A7F8;
    --darkblue: #4083D1; 
    --lightgrey: #f5f5f5;
    --darkgrey: #868686;
    --yellow: #FFDC5F;
    --green: #A5E89A;
    --contain-width: 88% ;
    --huge-heading: 6rem;
    --medium-heading: 4rem; 
    --small-heading:2.5rem;
    --standard-font: 1.6rem;
    --super-wide-container:1920px;
    --wide-container:1620px;
    --medium-container:770px;
    --small-container:515px;
    --large-container:1030px;

}

p{
    font-size: var(--standard-font);
    letter-spacing: .01em;
    line-height: 1.3;
    break-inside: avoid;
    margin-block-end: 2rem;

}

p.strong{
    font-weight: 700;
}

h1{
    font-size: var(--huge-heading);
}

h2{
    font-size: var(--medium-heading);
}

h3{
    font-size: var(--small-heading);
}

.logo{
    width: 12rem;
}

.logo-large{
    width: 20rem;
}

.button{
    position: relative;
    display: inline-flex;
    background-color: var(--blue);
    color: #fff;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: var(--standard-font);
    box-shadow: 0px 5px 7px -1px var(--darkgrey);
}

.main-content{
    display: flex;
    width: var( --contain-width);
    margin-inline: auto; 
}

.small-container{
   display: flex;
   width:  513px;
}

.medium-container{
    display: flex;
    width:  770px;
}

.large-container{
    display: flex;
    width:  77px;
}


.huge-container{
    width: 100%;
}

.huge-container h2{
margin-block-end: 80px;
text-align: center;
}

.huge-container img{
    margin-inline: auto;

    height: 200px;
    width: var(--contain-width);
    object-fit: contain;
    border: black 1px solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.line{
    background-color: var(--lightgrey);
    width: 88%;
    height: 0.5rem;
}

