
.line{
    background-color: var(--lightgrey);
    height: 0.5rem;
    width: 130rem;
}

.book-section{
    display: block;
    justify-content: center;
    margin: 2rem;
    
}

.book-info{
    display: flex;
        justify-content: center;
    
    margin: 40px;
}



h2{
    padding: 4rem;

}

h3{
    padding: 0 4rem;

}

p{
    padding: 4rem 0rem 4rem 0;
}

.kurser-ul{
    list-style: circle;
    font-size: 1.5rem;
}
