#mission-sektion{
    padding: 3rem;
}

h2{
    margin: 4rem;
}

h3{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

li{
    font-size: 1.5rem;
}


.center{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;

    
}


