.hero-img{
    height: 100vh;
    width: 100%;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    object-fit: cover;
}

.subpage-hero{
    height: 50vh;
    width: 100%;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    object-fit: cover;
}

.yellow{
    color: var(--yellow);
}


.card{
    background-color: var(--lightgrey);
    padding: 2rem;
    margin: 2rem;
    width: 30rem; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card > .button{
    color: black;
    background-color: var(--green);
}

.swiper-slide {
    
    flex-wrap: wrap;
    height: 400px !important;
    width: 300px !important;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: 0.2rem solid var(--green);
    border-radius: 10px;
    background-color: white;
    margin-inline: 5px;
}

.swiper{
    max-width: var(--wide-container);
    width: var(--contain-width);
    margin-inline: auto !important;
}

.swiper h2{
    text-align: center;
    padding-block-end: 40px;
}


#maps {
    height: 30vw;
}

.flip-card {
    background-color: transparent;
    width: 25rem;
    height: 18rem;
    border: 4px solid var(--green);
}

/* Denne container benyttes for at positionere front og bagside af kortet */
.flip-card-inner{
    /* placering = normal */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* tager 0.8 s. at flippe */
    transition: transform 0.8s;
    /* flipper som et rigtigt kort */
    transform-style: preserve-3d;
    /* placering af tekst */
    margin-top: 3.5rem;
}

/* benyttes så den flipper horisontalt, når man hover over kortet*/
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* benyttes til at positionere front og bagside af kortet*/
.flip-card-front, .flip-card-back {
    /* placeret ift. den nærmeste placering (tekst forbliver i boks)*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* styling af front siden */
.flip-card-front {
    color: black;
}

  /* Styling af bagside */
.flip-card-back {
    color: black;
    transform: rotateY(180deg);
}

.side-panel{
    position: absolute;
    width: 20%;
    height: 1000px;
    background-color: #F6F6F6;
    padding-block: 4rem;
}

.side-panel > h3{
    display: flex;
    padding-block-end: 2rem;
    padding-inline-start: 25%;
    font-weight: 800;
}

.side-container{
    display: flex;
    flex-direction: column;
}

.sub-categories{
    text-align:left ;
    padding-inline-start: 25%;
}

.filter-button{
    float: right;
    padding: 1rem 10rem;
    background-color: var(--green);
    left: 25rem;
}

.heading-product{
    padding-top: 10rem;
}

.product-container{
    width: 80%;
    height: 100%;

}

.product-card{
    padding-block-start: 4rem;
    height: 350px;
    width: 300px;
    border: solid 1px ;
    background-color: aquamarine;
}