.hero-img{
    height: 100vh;
    width: 100%;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    object-fit: cover;
}

.subpage-hero{
    height: 50vh;
    width: 100%;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    object-fit: cover;
}

.yellow{
    color: var(--yellow);
}


.card{
    background-color: var(--lightgrey);
    padding: 2rem;
    margin: 2rem;
    width: 30rem; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card > .button{
    color: black;
    background-color: var(--green);
}

.swiper-slide {
    
    flex-wrap: wrap;
    height: 400px !important;
    width: 300px !important;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: 0.2rem solid var(--green);
    border-radius: 10px;
    background-color: white;
    margin-inline: 5px;
}

.swiper{
    max-width: var(--wide-container);
    width: var(--contain-width);
    margin-inline: auto !important;
}

.swiper h2{
    text-align: center;
    padding-block-end: 40px;
}




#maps {
    height: 560px;
}

.flip-card {
    background-color: transparent;
    width: 25rem;
    height: 10rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}







.side-panel{
    position: absolute;
    width: 20%;
    height: 1000px;
    background-color: #F6F6F6;
    padding-block: 4rem;
}

.side-panel > h3{
    display: flex;
    padding-block-end: 2rem;
    padding-inline-start: 25%;
    font-weight: 800;
}

.side-container{
    display: flex;
    flex-direction: column;
}

.sub-categories{
    text-align:left ;
    padding-inline-start: 25%;
}

.filter-button{
    float: right;
    padding: 1rem 10rem;
    background-color: var(--green);
    left: 25rem;
}

.heading-product{
    padding-top: 10rem;
}

.product-container{
    width: 80%;
    height: 100%;

}

.product-card{
    padding-block-start: 4rem;
    height: 350px;
    width: 300px;
    border: solid 1px ;
    background-color: aquamarine;
}