header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--darkblue);
}

header .header-container{
    display: flex;
    justify-content: space-between;
}

.header-container{
    width: var(--contain-width);
    max-width: 1470px;
    position: relative;
    margin-inline: auto;
}

.navigation{
    font-size: var(--standard-font);
    display: inline-flex;
    padding: 1.5rem 2rem 2rem 2rem;
    color: #fff;
}

.navigation input{
    background-color: #fff;
    color: #000000;
    width: 150px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-inline-end: 5px;
}

.navigation:hover{
    text-decoration: underline;
    color: var(--yellow);
}



